<%= render "form.html", Map.put(assigns, :action, Routes.products_path(@conn, :update, @products)) %>

<span><%= link "Editar", class: "bg-green hover:bg-green-dark text-white font-bold py-2 px-4 rounded-full",  to: Routes.products_path(@conn, :edit, @products) %></span>
<span><%= link "Voltar", class: "bg-grey hover:bg-grey-dark text-white font-bold py-2 px-4 rounded-full" , to: Routes.products_path(@conn, :index) %></span>
