<%= render "form.html", Map.put(assigns, :action, Routes.products_path(@conn, :update, @products)) %>

<span>
<%= link "Voltar", class: "bg-white hover:bg-black hover:text-white text-black font-bold py-1 px-2 rounded-full" , to: Routes.products_path(@conn, :index) %></span> 
</span>
