<h1>Edit Register</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.stock_register_path(@conn, :update, @stock, @register)) %>

<span><%= link "Back", to: Routes.stock_register_path(@conn, :index, @stock ) %></span>
