<h1>Novo Registro</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.products_register_path(@conn, :create, @stock)) %>

<span><%= link "Voltar", class: "bg-white hover:bg-black hover:text-white text-black font-bold py-1 px-2 rounded-full" , to: Routes.products_register_path(@conn, :index, @stock ) %></span>

