<h1>Show Register</h1>

<ul>

  <li>
    <strong>Input quantity:</strong>
    <%= @register.input_quantity %>
  </li>

  <li>
    <strong>Output quantity:</strong>
    <%= @register.output_quantity %>
  </li>

</ul>

<%= link "Edit", to: Routes.stock_register_path(@conn, :edit, @stock, @register) %>
<span><%= link "Back", to: Routes.stock_register_path(@conn, :index, @stock ) %></span>
